﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Facebook Login</title>
    <link rel="stylesheet" href="https://bootswatch.com/solar/bootstrap.min.css"/>
    <style media="screen">
        #fb-btn {
            margin-top: 10px;
        }
        #profile, #logout, #feed, #friends, #likes {
            display: none;
        }
    </style>
</head>
<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '298363370571914',
                cookie: true,
                xfbml: true,
                version: 'v2.10'
            });

            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function statusChangeCallback(response) {
            if (response.status === 'connected') {
                setElements(true);
                console.log('Hey there, you have connected');
                testAPI();
            }
            else {
                setElements(false);
                console.log('Oops, you do not have authorised access');
            }
        }

        function testAPI() {
            FB.api('/me?fields=name,email,birthday,location', function(response) {
                if (response && !response.error) {
                    buildProfile(response);
                }

                FB.api('/me/feed', function(response) {
                    if (response && !response.error) {
                        buildFeed(response);
                    }
                });

                FB.api('/me/likes', function (response) {
                    if (response && !response.error) {
                        buildLikes(response);
                    }
                });

                FB.api('/me/friends', function (response) {
                    if (response && !response.error) {
                        buildFriends(response);
                    }
                })
            });
        }

        function buildProfile(user) {
            let profile = `
                <h3>${user.name}</h3>
                <ul class="list-group">
                    <li class="list-group-item">ID: ${user.id}</li>
                    <li class="list-group-item">Email: ${user.email}</li>
                    <li class="list-group-item">Birthday: ${user.birthday}</li>
                    <li class="list-group-item">Location: ${user.location.name}</li>
                </ul>
            `;

            document.getElementById('profile').innerHTML = profile;
        }

        function buildLikes(likes)
        {
            let output = '<h3>I Like</hr>';
            for (let i in likes.data)
            {
                if (likes.data[i].name) {
                    output += `
                        <div class=well>
                            ${likes.data[i].name}
                        </div>
                    `;
                }
            }

            document.getElementById('likes').innerHTML = output;
        }

        function buildFeed(feed) {
            let output = '<h3>Latest Posts</h3>';
            for (let i in feed.data) {
                if (feed.data[i].message) {
                    output += `
                        <div class=well>
                            ${feed.data[i].message}
                        </div>
                    `;
                }
            }

            document.getElementById('feed').innerHTML = output;
        }

        function buildFriends(friends) {
            let output = `<h3>I have 
                            ${friends.summary.total_count}
                          friends</h3>`;
            
            document.getElementById('friends').innerHTML = output;
        }

        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        function setElements(isLoggedIn) {
            if (isLoggedIn) {
                document.getElementById('feed').style.display = 'block';
                document.getElementById('friends').style.display = 'block';
                document.getElementById('likes').style.display = 'block';
                document.getElementById('logout').style.display = 'block';
                document.getElementById('profile').style.display = 'block';
                document.getElementById('fb-btn').style.display = 'none';
                document.getElementById('heading').style.display = 'none';
            }
            else {
                document.getElementById('feed').style.display = 'none';
                document.getElementById('friends').style.display = 'none';
                document.getElementById('likes').style.display = 'none';
                document.getElementById('logout').style.display = 'none';
                document.getElementById('profile').style.display = 'none';
                document.getElementById('fb-btn').style.display = 'block';
                document.getElementById('heading').style.display = 'block';
            }
        }

        function Logout() {
            FB.logout(function (response) {
                setElements(false);

            });
        }
    </script>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle Naviation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Facebook API</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" onclick="location.reload(true); return false;">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="logout" href="#" onclick="Logout()">Logout</a></li>
                    <fb:login-button id="fb-btn"
                                     scope="public_profile,email,user_birthday,user_location,user_likes,user_friends,user_posts"
                                     onlogin="checkLoginState();"></fb:login-button>
                </ul>
            </div>
        </div>
    </nav>  
    <div class="container">
        <h3 id="heading">Log in to view your profile</h3>
        <div id="profile"></div>
        <div id="feed"></div>
        <div id="likes"></div>
        <div id="friends"></div>
    </div>
    @RenderBody()
</body>
</html>